<body>
  <h1>Books</h1>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>詳細画面リンク</td>
        <td>編集リンク</td>
        <td>削除ボタン</td>
      </tr>
      <!--以下繰り返し処理-->
    </tbody>
  </table>
  <h2>New book</h2>
  <!--以下投稿フォーム-->
</body>

